{{#if books}}
<ul class="stack">
    {{#each books}}
    <li class="container book">
        <div class="contents">
            <ul class="statusArea" value="{{status}}">
                <li value="Not Started" class="notStarted">
                    <button type="submit" class="update-to-list" data-title="{{title}}" data-author="{{author}}" data-genre="{{genre}}" data-img="{{img}}"
                        data-url="{{url}}" data-status="Not Started">Not Started</button>
                </li>
                <li value="In Progress" class="inProgress">
                    <button type="submit" class="update-to-list" data-title="{{title}}" data-author="{{author}}" data-genre="{{genre}}" data-img="{{img}}"
                        data-url="{{url}}" data-status="In Progress">In Progress</button>
                </li>
                <li value="Completed" class="completed">
                    <button type="submit" class="update-to-list" data-title="{{title}}" data-author="{{author}}" data-genre="{{genre}}" data-img="{{img}}"
                        data-url="{{url}}" data-status="Completed">Completed</button>
                </li>
                <li value="Deleted" class="deleted">
                    <button type="submit" class="update-to-list" data-title="{{title}}" data-author="{{author}}" data-genre="{{genre}}" data-img="{{img}}"
                        data-url="{{url}}" data-status="Deleted">Deleted</button>
                </li>
                <li value="On Loan" class="onLoan">
                    <button type="submit" class="update-to-list" data-title="{{title}}" data-author="{{author}}" data-genre="{{genre}}" data-url="{{url}}"
                        data-status="On Loan">On Loan</button>
                </li>
            </ul>
            {{#if img}}
            <img src={{img}}> {{/if}}
            <div class="bookDetails">
                {{#if title}}
                <h3>{{title}}</h3>
                {{/if}} {{#if author}}
                <h4>by {{author}}</h4>
                {{/if}} {{#if genre}}
                <p>Genre: {{genre}}</p>
                {{/if}} {{#if category}}
                <p>Category: {{category}}</p>
                {{/if}} {{#if url}}
                <a href="{{url}}" target="_blank"><p>Google Books link</p></a>
                {{/if}}
            </div>
        </div>
        <div class="expand">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
    </li>
    {{/each}}
</ul>
{{else}}
<div class="no-res">
    <h2>There are no books in your library!</h2>
</div>
{{/if}}