<ul>
{{#each books}}
    <li>
        <p>Title: {{title}}</p>
        <p>Author: {{author}}</p>
        <p>Year: {{year}}</p>
        <p>Description: {{desc}}</p>
        <img src={{img}}>
    </li>
{{/each}}
</ul>
